* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body, input, textarea, button {
    font-family: sans-serif;
    font-weight: 400;
}

button {
    cursor: pointer;
}

a {
    text-decoration: none;
    color: white;
}

li {
    list-style-type: none;
}

header {
    background: #05235afa;
}

.container {
    width: 100%;
    max-width: 1440px;
    margin: 0 auto;
    padding: 0 1.5rem;

}

footer {
    background-color: rgb(27, 26, 26);
}

.rodape {
    color: white;
}
  
.rodape p {
    text-align: center;
}




