.content {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    width: 100%;
    padding: 0.8rem 0;
}

.logo {
    font-size: 2rem;
    font-weight: 500;
}

nav ul {
    display: flex;
}

nav ul li a {
    margin-left: 2.5rem;
    color: #e6e6e6;
    padding: 0.5rem;
    transition: 200ms ease-in-out;
}

nav ul li a:hover {
    color: white;
    padding: 0.5rem;
    background: rgba(31, 29, 29, 0.342);
    border-radius: 0.4rem;
}


#hero {
    height: 100vh;
    background-image: url("/assets/cruzeiro.webp");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center; 
    box-shadow: inset 1px 1px 10px rgba(50, 50, 50, 0.77);
}

.hero-content {
    position: relative;
    top: 5rem;
}

.hero-content h1{
    width: 25rem;
    background: #05235a94; 
    padding: 1rem;
    color: white;
    border-radius: 0.4rem;
    font-size: 1.6rem;
}

.hero-content h1 span{
    color: rgb(255, 123, 0);;
}

.hero-content a {
    position: relative;
    top: 1rem;
    padding: 0.8rem;
    background: #05235afa;
    color: white;
    font-weight: 500;
    border: 0;
    border-radius: 0.4rem;
    transition: 200ms ease-in-out;
}

.hero-content a:hover {
    background: #072b6ee1;
}


.shadow {
    box-shadow: inset 100px 100px 50px rgba(50, 50, 50, 0.77);
}


footer {
    background-color: rgb(27, 26, 26);
    
}

.rodape {
    color: white;
}

.rodape p {
    text-align: center;
}

.format {
    color: white;
    background: transparent;
    border: none;
    font-size: 1.8rem;
}


#icon-menu {
    display: none !important;
}

#closemenu {
    display: none !important;
}

@media (max-width: 709px) {
    html {
        font-size: 80.5%;
    }
}

@media (max-width: 571px) {
    html {
        font-size: 70%;
    }
}


@media (max-width: 495px) {
    .logo {
        margin: 0 auto;
    }
    

    .format {
        position: absolute;
        top: 0.5rem;
        right: 0.5rem;
    }

    #icon-menu {
        display: block !important;
    }

    #closemenu {
        display: block  !important;
    }

    .bar {
        display: none;
    }

    .bar {
        width: 50%;
        position: absolute;
        top: 0;
        right: 0;
        height: calc(100vh + 6.7vh);
        background: rgba(0, 0, 0, 0.603);
        z-index: 1;
    }

    .bar nav ul{
        display: block;
        font-size: 1.5rem;
        margin-top: 3rem;
    }
    .bar nav ul li{
        margin-top: 1rem;
    }
    
}

@media (max-width: 380px) {
    .hero-content h1 {
        width: 100%;
    }
}

@media (max-width: 292px) {
    .bar nav ul li a{
        display: flex;
    }
}