.content {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
  width: 100%;
  padding: 0.8rem 0;
}

#box {
  height: 100vh;
}

.logo {
  font-size: 2rem;
  font-weight: 500;
}

nav ul {
  display: flex;
}

nav ul li a {
  margin-left: 2.5rem;
  color: #e6e6e6;
  padding: 0.5rem;
  transition: 200ms ease-in-out;
}

nav ul li a:hover {
  color: white;
  padding: 0.5rem;
  background: rgba(31, 29, 29, 0.342);
  border-radius: 0.4rem;
}

main {
  background-image: url("/assets/viagem.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.mobile-menu {
  display: none;
}

.bar {
  display: none;
}

.travels {
  width: 100%;
  background: #05235a94;
  border-radius: 0.4rem;
  color: white;
  position: relative;
  top: 5rem;
  padding: 1rem;
}

.travels h1 {
  text-align: center;
  font-size: 1.5rem;
  margin-bottom: 3.5rem;
}

.cities {
  display: flex;
  flex-wrap: wrap;
  justify-content:center;
}

.city {
  margin-top: 1.5rem;
  width: 10rem;
  padding: 1rem;
  text-align: center;
}

.city img {
  width: 65%;
  height: 5rem;
  border-radius: 50%;
  margin-bottom: 1rem;
}

.city p {
  font-weight: bold;
}


@media (max-width: 842px) {
  html {
    font-size: 90%;
  }
}


@media (max-width: 709px) {
  html {
      font-size: 80.5%;
  }
}

@media (max-width: 600px) {
  html {
      font-size: 70%;
  }

  
}

@media (max-width: 571px) {
  html {
      font-size: 70%;
  }
}

@media (max-width: 530px) {
  
}

@media (max-width: 495px) {
  .logo {
      margin: 0 auto;
  }

  .content nav {
      display: none;
  }
  
  .mobile-menu {
      display: block;
  }

  .format {
      position: absolute;
      top: 0.5rem;
      left: 0.5rem;
  }

  .bar {
      width: 100%;
      position: absolute;
      top: 0;
      left: 0;
      height: 100vh;
      z-index: 1;
      background: rgba(0, 0, 0, 0.603);
  }

  .bar nav ul{
      display: block;
      font-size: 1.5rem;
      margin-top: 3rem;
  }
  .bar nav ul li{
      margin-top: 1rem;
  }
  
}